.pageWrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
  background-image: url("/background.png");
  background-size: cover;
  background-position: center;
  padding: 60px 0;
}

.heroSection {
  display: flex;
  flex-direction: column-reverse;
  gap: 40px;
  align-items: center;
}

.heroContent {
  text-align: center;
  color: white;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  max-width: 800px;
}

.heroContent h1 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 16px;
  color: white;
}

.heroContent p {
  font-size: 20px;
  max-width: 600px;
  margin: 0 auto;
  color: white;
  font-weight: 700;
}

.formSection {
  width: 100%;
  max-width: 500px;
}

@media (min-width: 1024px) {
  .heroSection {
    flex-direction: row;
    justify-content: space-between;
  }

  .heroContent {
    text-align: left;
    flex: 1;
    order: 2;
  }

  .heroContent h1 {
    font-size: 54px;
  }

  .heroContent p {
    margin: 0;
  }

  .formSection {
    flex: 1;
    order: 1;
  }
  .main {
    padding: 120px 0 60 0;
  }
  .heroSection {
    align-items: start;
  }
}

@media (max-width: 1023px) and (min-width: 768px) {
  .heroContent h1 {
    font-size: 42px;
  }

  .heroContent p {
    font-size: 18px;
  }

  .formSection {
    order: 1;
  }

  .heroContent {
    order: 2;
  }
}

@media (max-width: 767px) {
  .main {
    padding: 75px 0;
  }

  .heroContent h1 {
    font-size: 32px;
  }

  .heroContent p {
    font-size: 16px;
  }

  .formSection {
    order: 1;
  }

  .heroContent {
    order: 2;
  }
}
