.header {
  height: 80px;
  position: relative;
}

.header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: var(--primary-color);
}

.headerInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.logo {
  display: flex;
  align-items: center;
}

.desktopNav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.themeToggle {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--text-color);
}

.divider {
  height: 24px;
  width: 2px;
  border-radius: 50px;
  background-color: #000000;
}

.authButtons {
  display: flex;
  gap: 10px;
}

.burgerButton {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--text-color);
  z-index: 1001;
}

.mobileMenu {
  position: fixed;
  top: 0;
  right: -50%;
  width: 50%;
  height: 100vh;
  background-color: #000;
  z-index: 2000;
  transition: right 0.3s ease;
  border-left: 2px solid #fff;
  display: none;
}
.closeMenuButton {
  position: absolute;
  top: 20px;
  left: 10px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobileMenu.open {
  right: 0;
}

.mobileMenuContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 20px 20px;
  gap: 30px;
}

.mobileThemeToggle {
  color: white;
  font-size: 30px;
}

.mobileAuthButtons {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.mobileAuthButtons button {
  width: 100%;
}
.modeSwitch {
  width: 40px;
  height: 40px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  border-radius: 50px;
}
.modeSwitch:hover {
  background-color: #ccc8c8cc;
}

@media (max-width: 768px) {
  .desktopNav {
    display: none;
  }

  .burgerButton {
    display: block;
  }

  .mobileMenu {
    display: block;
  }
}
